---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import HeroSection from "../layouts/HeroSection.astro";
import Services from "../layouts/Services.astro";
import Banner from "../layouts/Banner.astro";
import Us from "../layouts/Us.astro";
import Data from "../layouts/Data.astro";
import Machines from "../layouts/Machines.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LZC - Empresa Constructora">
  <NavBar />

  <main
    id="inicio"
    class="w-full h-full flex flex-col gap-16 max-sm:gap-6 items-center justify-center"
  >
    <HeroSection />

    <Services />

    <Banner />

    <Us />

    <Data/>

    <Machines />

    <Contact/>

    <Footer/>
  </main>
</Layout>
