---
export interface Props {
  id: string;
  class: string;
}
---

<button
  id={Astro.props.id}

  class=`${Astro.props.class} max-lg:hidden w-max absolute top-1/2 -translate-y-1/2 z-20 bg-black/50 py-1 px-1 rounded-md cursor-pointer`
>
  <slot />
</button>
