---
const { nameCard, href, title } = Astro.props;

import IconOpen from "../../public/assets/svg/IconOpen.astro";
---

<a
  class=`${Astro.props.class} h-72 bg-cover bg-no-repeat bg-center font-semibold`
  href={href}
  title={title}
>
  <div
    class="h-full w-full py-5 px-6 relative flex items-end justify-between backdrop-brightness-[.6]"
  >
    <span class="text-2xl">{nameCard}</span>
    <IconOpen class="w-7"/>
  </div>
</a>
