---
import LogoLight from "../../public/assets/svg/LogoLight.astro";

import IconArrowUp from "../../public/assets/svg/IconArrowUp.astro";
import IconFacebook from "../../public/assets/svg/IconFacebook.astro";
import IconInstagram from "../../public/assets/svg/IconInstagram.astro";
import IconLinkedin from "../../public/assets/svg/IconLinkedin.astro";
import IconWhatsApp from "../../public/assets/svg/IconWhatsApp.astro";
import RedFooter from "./RedFooter.astro";
---

<footer
  class="w-full h-40 max-sm:h-max max-sm:flex-col flex justify-between items-center gap-5 max-sm:gap-6 px-12 pb-6 xl:px-6 max-sm:px-4 max-w-[1820px]"
>
  <picture class="w-full flex justify-start items-center">
    <LogoLight class="w-40 max-sm:w-36" />
  </picture>

  <div class="w-full h-full flex flex-col max-sm:justify-start max-sm:items-start items-end gap-6 max-sm:gap-6">
    <header class="flex items-center gap-14 max-sm:gap-6 max-md:flex-col">
      <nav class="w-full flex gap-7 max-sm:gap-3">
        <RedFooter href="https://www.instagram.com/construcciones.lzc_/" label="Instagram">
          <slot name="icon">
            <IconInstagram class="w-5" />
          </slot>
        </RedFooter>

        <!-- <RedFooter href="" label="Linkedin">
          <slot name="icon">
            <IconLinkedin class="w-5" />
          </slot>
        </RedFooter> -->

        <RedFooter href="" label="Facebook">
          <slot name="icon">
            <IconFacebook class="w-5" />
          </slot>
        </RedFooter>

        <RedFooter href="https://wa.me/+5491159249503?text=Contrataciones de Construcciones LZC" label="WhatsApp">
          <slot name="icon">
            <IconWhatsApp class="w-5" />
          </slot>
        </RedFooter>
      </nav>
      <a
        href="#inicio"
        class="text-base w-full h-full flex items-center group hover:text-gray-300 transition-colors"
        >Volver al inicio <IconArrowUp
          class="w-6 mt-[2px] group-hover:fill-gray-300 fill-white transition-colors"
        />
      </a>
    </header>

    <footer>
      <p class="text-[#D1D1D1]">
        Desarrollado por <a
          class="text-white"
          target="_blank"
          title="Contactar via Linkedin"
          href="https://www.linkedin.com/in/sebastian-perezz/"
          >Sebastian Perez</a
        > - Todos los derechos reservados
      </p>
    </footer>
  </div>

</footer>
