---
import LogoLight from "../../public/assets/svg/LogoLight.astro";
import IconHamburgerMenu from "../../public/assets/svg/IconHamburgerMenu.astro";
import IconClose from "../../public/assets/svg/IconClose.astro";
import LinkNavBar from "../components/LinkNavBar.astro";
import LinkMenuMobile from "./LinkMenuMobile.astro";
import RedFooter from "./RedFooter.astro";

import IconFacebook from "../../public/assets/svg/IconFacebook.astro";
import IconInstagram from "../../public/assets/svg/IconInstagram.astro";
import IconLinkedin from "../../public/assets/svg/IconLinkedin.astro";
import IconWhatsApp from "../../public/assets/svg/IconWhatsApp.astro";
---

<header class="w-full flex justify-center items-start fixed z-10">
  <nav
    class="w-full max-w-[1920px] px-12 py-4 flex justify-center items-center text-lg gap-10 max-md:hidden backdrop-blur-sm"
  >
    <LinkNavBar href="#servicios" name="Servicios" />
    <LinkNavBar href="#nosotros" name="Nosotros" />
    <a aria-label="Logo LZC" title="Logo LZC" href="/" class="">
      <LogoLight class="w-36" />
    </a>
    <LinkNavBar href="#maquinaria" name="Maquinaria" />
    <LinkNavBar href="#contacto" name="Contacto" />
  </nav>

  <nav
    class="hidden w-full h-max px-4 py-6 max-md:flex items-start justify-between text-lg z-20 backdrop-blur-sm"
  >
    <a aria-label="Logo LZC" title="Logo LZC" href="/">
      <LogoLight class="w-28" />
    </a>
    <aside class="grid place-content-center">
      <IconHamburgerMenu id="iconHamburger" class="w-10 block" />
      <IconClose
        id="iconClose"
        class="w-10 absolute opacity-0 pointer-events-none"
      />
    </aside>
  </nav>

  <div
    id="menuHidden"
    class="w-[100%] hidden h-dvh absolute z-10 max-md:flex flex-col items-center justify-start px-4 pt-28 bg-[#262626] translate-x-[100%] transition-transform"
  >
    <nav class="w-full flex flex-col gap-[14px] flex-grow">
      <LinkMenuMobile
        href="#inicio"
        name="Inicio"
        class="bg-white text-[#262626]"
      />
      <LinkMenuMobile
        href="#servicios"
        name="Servicios"
        class="bg-[#323232] text-white"
      />
      <LinkMenuMobile
        href="#nosotros"
        name="Nosotros"
        class="bg-[#323232] text-white"
      />
      <LinkMenuMobile
        href="#maquinaria"
        name="Maquinaria"
        class="bg-[#323232] text-white"
      />
      <LinkMenuMobile
        href="#contacto"
        name="Contacto"
        class="bg-[#323232] text-white"
      />
    </nav>

    <footer class="w-full flex gap-6 justify-center flex-grow-1 mb-4">
      <RedFooter href="" label="Instagram">
        <slot name="icon">
          <IconInstagram class="w-5" />
        </slot>
      </RedFooter>

      <RedFooter href="" label="Linkedin">
        <slot name="icon">
          <IconLinkedin class="w-5" />
        </slot>
      </RedFooter>

      <RedFooter href="" label="Facebook">
        <slot name="icon">
          <IconFacebook class="w-5" />
        </slot>
      </RedFooter>

      <RedFooter href="" label="WhatsApp">
        <slot name="icon">
          <IconWhatsApp class="w-5" />
        </slot>
      </RedFooter>
    </footer>
  </div>
</header>
<!-- 
<script>
  const iconClose = document.querySelector("#iconClose");
  const iconHamburger = document.querySelector("#iconHamburger");
  const menuHidden = document.querySelector("#menuHidden");
  const body = document.querySelector("#body");

  const openMenu = () => {
    iconHamburger.addEventListener("click", () => {
      menuHidden.classList.remove("translate-x-[100%]");
      iconHamburger.classList.add("opacity-0");
      iconClose.classList.add("opacity-100");
      iconClose.classList.remove("pointer-events-none");
      body.classList.add("fixed");
    });
  };

  const closeMenu = () => {
    iconClose.addEventListener("click", () => {
      menuHidden.classList.add("translate-x-[100%]");
      iconHamburger.classList.remove("opacity-0");
      iconClose.classList.remove("opacity-100");
      iconClose.classList.add("pointer-events-none");
      body.classList.remove("fixed");
    });
  };

  const linksMobile = document.querySelectorAll(".linksMobile");

  const linkActive = () => {
    linksMobile.forEach((link) => {
      link.addEventListener("click", () => {
        menuHidden.classList.add("translate-x-[100%]");
        iconClose.classList.remove("opacity-100");
        iconHamburger.classList.remove("opacity-0");
        iconClose.classList.add("pointer-events-none");
        body.classList.remove("fixed");
      });
    });
  };

  // Función para verificar el tamaño de la ventana y eliminar una clase
  function resetWindow() {
    const widthWindow = 764; // Define el ancho deseado en píxeles
    const body = document.body;

    if (window.innerWidth > widthWindow) {
      body.classList.remove("fixed"); // Elimina la clase si el ancho es menor al deseado
    }
  }

  // Escuchar el evento resize de la ventana
  window.addEventListener("resize", resetWindow);

  // Ejecutar la función una vez al cargar la página

  openMenu();
  closeMenu();
  resetWindow();
  linkActive();
</script> -->
