---
const {title} = Astro.props;

import IconArrowRight from "../../public/assets/svg/IconArrowRight.astro";
---
<header class="w-full flex justify-between">
    <h2 class="text-[32px] max-sm:text-2xl max-xl:text-3xl font-semibold">{title}</h2>
    <a class="flex items-center" href="/">Volver hacia atrás <IconArrowRight/> </a>
</header>