---

---

<section
  class="w-full max-w-[1820px] h-80 flex justify-center px-12 xl:px-6 max-sm:px-2"
>
  <header
    class="w-full h-full bg-[url('/assets/img/Arquitectura.webp')] bg-cover bg-no-repeat bg-center"
  >
    <div
      class="h-full w-full flex justify-center items-center flex-col backdrop-brightness-[.55] gap-3"
    >
      <h3 class="text-[26px] text-center max-sm:text-[22px] font-semibold">
        ¡Haz realidad tu proyecto hoy!
      </h3>
      <div
        class="w-full max-sm:px-3 flex flex-col justify-center items-center text-lg max-sm:text-base font-medium"
      >
        <p class="text-center">Descubre cuánto costará construir tus sueños.</p>
        <p class="text-center">
          Ofrecemos presupuestos personalizados y sin compromiso.
        </p>
      </div>

      <a
        href="#contacto"
        class="bg-[#262626] px-5 py-2 text-lg max-sm:text-base font-medium mt-2"
        >¡Cotiza tu proyecto ahora!</a
      >
    </div>
  </header>
</section>
