---
import CardData from "../components/CardData.astro"
---

<section
class="w-full flex justify-center h-72 bg-[url('/assets/img/Arquitectura.webp')] bg-cover bg-no-repeat bg-center"
>
<header
  class="w-full max-w-[1920px] h-full grid place-content-center grid-cols-auto-data backdrop-brightness-[.65] px-12"
>
  <CardData number="+10" text="A単os de experiencia" />
  <CardData number="+10" text="A単os de experiencia" />
  <CardData number="+10" text="A単os de experiencia" />
  <CardData number="+10" text="A単os de experiencia" />
</header>
</section>