---
import CardInfo from "../components/CardInfo.astro";
import IconOpen from "../../public/assets/svg/IconOpen.astro";
import TitleSection from "../components/TitleSection.astro";

import Image from "astro/components/Image.astro";
import MapsImage from "../../public/assets/img/Planos.webp";
import ContainSection from "../components/ContainSection.astro";
---

<ContainSection id="contacto">
  <TitleSection title="Cont치ctanos" />
  <footer class="w-full grid grid-cols-auto-12 gap-5">
    <div
      id="contactButton"
      class="cursor-pointer w-full h-80 xl:col-span-8 lg:col-span-6 md:col-span-full max-md:col-span-full relative flex items-end overflow-hidden"
    >
      <Image
        src={MapsImage}
        class="w-full h-full object-cover brightness-[.5] hover:scale-105 transition-transform"
        title="Plano de Obra"
        alt="Imagen de Plano de Obra"
      />
      <div
        class="w-full py-5 px-6 max-sm:px-3 absolute flex justify-between items-center pointer-events-none"
      >
        <h3 class="text-2xl max-sm:text-xl font-semibold">
          Cotizamos tu presupuesto
        </h3>
        <IconOpen class="w-7" />
      </div>
    </div>

    <CardInfo
      header="Cont치ctanos hoy para recibir un presupuesto personalizado."
      body="Empieza a construir tus sue침os con la calidad y precisi칩n que mereces."
      footer="Director - Limber Zerda"
    >
      <slot slot="contact" class="w-full">
        <p class="mt-2 mb-1 overflow-x-auto leading-normal max-sm:text-base">
          construccionesenyeseria.limber@gmail.com
        </p>
        <span class="leading-normal max-sm:text-base"> +54 9 11 5924-9503</span>
      </slot>
    </CardInfo>
  </footer>
</ContainSection>

