---

---
<section
      class="w-full h-[800px] bg-[url('/assets/img/hero-image.webp')] bg-no-repeat bg-cover bg-center relative"
    >
      <header
        class="w-full h-full flex justify-center absolute backdrop-brightness-50"
      >
        <footer
          class="w-full h-full max-w-[1920px] px-12 py-20 flex justify-end flex-col gap-5"
        >
          <h1 class="text-5xl font-semibold">
            Creando Espacios, Construyendo Confianza
          </h1>
          <p class="text-xl w-[120ch] max-w-full text-pretty">
            Convertimos tus ideas en realidad con un enfoque innovador y una
            calidad insuperable. Contamos con años de experiencia, te ofrecemos
            un servicio personalizado y sin complicaciones para asegurar el
            éxito de cada proyecto.
          </p>
        </footer>
      </header>
</section>
