---

---

<section
  class="w-full h-[780px] lg:h-[100vh] max-sm:h-[600px] bg-[url('/assets/img/hero-image-2.webp')] bg-no-repeat bg-cover bg-center relative"
>
  <header
    class="w-full h-full flex justify-center absolute backdrop-brightness-50"
  >
    <footer
      class="w-full h-full max-w-[1920px] px-12 xl:px-6 max-sm:px-4 py-20 xl:py-10 max-sm:py-10 flex justify-end flex-col gap-5"
    >
      <h1 class="text-5xl max-sm:text-3xl font-semibold">
        Creando Espacios, Construyendo Confianza
      </h1>
      <p class="block text-xl w-[120ch] max-w-full text-pretty max-sm:hidden">
        Convertimos tus ideas en realidad con un enfoque innovador y una calidad
        insuperable. Contamos con años de experiencia, te ofrecemos un servicio
        personalizado y sin complicaciones para asegurar el éxito de cada
        proyecto.
      </p>
    <p class="hidden max-sm:block text-xl w-[120ch] max-w-full text-pretty max-sm:text-base">
      Hacemos realidad tus ideas con innovación, calidad y experiencia,
      ofreciendo un servicio personalizado y sin complicaciones para asegurar el
      éxito de tus proyectos.
    </p>
    </footer>
  </header>
</section>
