---
import CardInfo from "../components/CardInfo.astro";
import Image from "astro/components/Image.astro";
import ObreroImage from "../../public/assets/img/Obrero.webp";
---

<section
  id="nosotros"
  class="w-full h-full flex flex-col gap-5 px-12 max-w-[1920px]"
>
  <header class="w-full">
    <h2 class="text-[32px] font-semibold">Nosotros</h2>
  </header>

  <footer class="w-full grid grid-cols-auto-12 gap-5">
    <a
      href="/"
      class="w-full h-80 col-span-8 relative flex items-end overflow-hidden"
    >
      <Image
        src={ObreroImage}
        title="Imagen de Obrero"
        alt="Imagen de Obrero"
        class="w-full h-full object-cover brightness-[.5] transition-transform hover:scale-105"
      />

      <div
        class="pointer-events-none w-full py-5 px-6 absolute flex justify-between items-center"
      >
        <h3 class="text-2xl font-semibold">Sobre nuestra empresa</h3>
      </div>
    </a>

    <CardInfo
      header="Convertimos tus ideas en realidad con un enfoque innovador y una calidad insuperable."
      body=" Contamos con años de experiencia, te ofrecemos un servicio personalizado y sin complicaciones para asegurar el éxito."
      footer="LZC - Construcciones en general"
    />
  </footer>
</section>
